.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ql-editor {
  min-height: 5rem !important;
  /* max-height: 800px; */
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
.contents_section {
  margin-top: 50px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  div {
    width: 100%;
  }
}
