.background {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.container {
  margin-top: 80px;
  width: 80%;
  border: 1px solid white;
  height: 80%;
  padding: 3rem;
}
.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}
.left_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  gap: 20px;
  div {
    width: 100%;
    height: 100%;
  }
  .profile {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .profile_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0.2;
      font-size: 1.2rem;
      font-weight: bold;
      div:first-child {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 20px;
      }
      div:last-child {
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: 3rem;
        cursor: pointer;
        margin-right: 20px;
      }
    }
    .profile_image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .profile_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0.8;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 20px;
      div {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        width: 80%;

        div:nth-child(1) {
          justify-content: left;
          flex: 0.5;
          color: #898c92;
          margin-bottom: 10px;
        }
        div:nth-child(2) {
          justify-content: left;
          flex: 0.5;
          margin-bottom: 20px;
        }
      }
    }
  }
  .badge {
    font-size: 1.2rem;
    font-weight: bold;
    flex: 1;
    .badge_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .badge_title {
        flex: 0.15;
      }
      .my_badge {
        flex: 0.8;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: left;
        gap: 10px;
        margin-left: 10px;
        .badge_image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: red;
        }
      }
    }
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.right_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  gap: 20px;
  .welcome_message {
    background-color: black;
    width: 100%;
    height: 100%;
    flex: 0.5;
    display: flex;
    flex-direction: row;
    gap: 20px;
    .message {
      width: 100%;
      height: 100%;
      flex: 2;
      align-items: left;
      display: flex;
      justify-content: center;
      flex-direction: row;
      font-size: 1.2rem;
      background-color: #1b1d24;
      color: #b6bac9;
      border-radius: 20px;
      span {
        color: white;
        font-weight: medium;
      }
      img {
        width: 70px;
        height: 70px;
        border-radius: 20px;
        object-fit: cover;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 10px;
      }
      p {
        margin-left: 20px;
        display: inline-block;
      }
    }
    .point_section {
      width: 100%;
      height: 100%;
      align-items: left;
      display: flex;
      justify-content: center;
      flex-direction: row;
      font-size: 1.2rem;
      background-color: #8a2be2;
      color: white;
      border-radius: 20px;
      flex: 1;
      div {
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 10px;
      }
      p {
        margin-left: 20px;
        display: inline-block;
      }
    }
  }
  .privacy_control_box {
    width: 100%;
    height: 100%;
    align-items: left;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1.2rem;
    background-color: #111216;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    flex: 0.3;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      gap: 10px;
      flex: 1;
      cursor: pointer;
      &:hover {
        background-color: #1b1d24;
      }
    }
  }
  .infomation {
    width: 100%;
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .infomation_box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .id_box {
        display: flex;
        font-size: 1.2rem;
        gap: 20px;
        width: 50%;
        align-items: center;
        margin-left: 20px;
        flex: 1;
        div:nth-child(1) {
          font-weight: bold;
          flex: 1;
          span {
            margin-left: 10px;
            color: #898c92;
            font-weight: normal;
          }
        }
      }
      .password_box {
        display: flex;
        font-size: 1.2rem;
        gap: 20px;
        align-items: center;
        flex: 1;
        margin-left: 20px;
        div:nth-child(1) {
          font-weight: bold;
        }
        div:nth-child(2) {
          input {
            width: 100%;
            height: 40px;
            border-radius: 10px;
            background-color: #1b1d24;
            color: white;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
            padding-left: 10px;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .password_check_box {
        display: flex;
        font-size: 1.2rem;
        gap: 20px;
        align-items: center;
        flex: 1;
        margin-left: 20px;
        div:nth-child(1) {
          font-weight: bold;
        }
        div:nth-child(2) {
          input {
            width: 100%;
            height: 40px;
            border-radius: 10px;
            background-color: #1b1d24;
            color: white;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
            padding-left: 10px;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .nickname_box {
        display: flex;
        font-size: 1.2rem;
        gap: 20px;
        align-items: center;
        flex: 1;
        margin-left: 20px;
        div:nth-child(1) {
          font-weight: bold;
        }
        div:nth-child(2) {
          input {
            width: 100%;
            height: 40px;
            border-radius: 10px;
            background-color: #1b1d24;
            color: white;
            border: none;
            font-size: 1.2rem;
            font-weight: bold;
            padding-left: 10px;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .button_box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        flex-direction: row;
        gap: 20px;
        margin-left: 20px;
        button {
          width: 100px;
          height: 40px;
          border-radius: 10px;
          background-color: white;
          color: black;
          border: none;
          font-size: 1.2rem;
          font-weight: bold;
          cursor: pointer;
          margin-top: 60px;
          &:hover {
            background-color: #db6f39;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
.selected {
  background-color: #2f323e;
  transition: all 0.3s ease-in-out;
}
.profile_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  img {
    border-radius: 50%;
    object-fit: cover;
  }
}
