.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.login_box {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;

  display: flex;
  flex-direction: column;
  z-index: 1;

  &::before {
    content: "";
    background-image: url("/img/login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1; // 원하는 투명도
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 1;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.img_box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.img_box > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.img_box img:hover {
  scale: (1.1);
}
.flex {
  display: flex;
}
.flex > ul > a {
  margin-left: 9rem;
}
.flex > ul > a:hover {
  scale: (1.1);
}
.flex > h1 {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.flex > h1 > span {
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(208, 236, 255);
  }
  50% {
    color: skyblue;
  }
  100% {
    color: rgb(145, 145, 255);
  }
}
// content & form

.content {
  margin-left: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content > div > h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 5rem;
}

.content_p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  display: inline-flex;
}

.content_p > a {
  margin-left: 1rem;
  color: blue;
}
.content_input_box {
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 40px;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: none;
  border-radius: 1.5rem;
  margin-right: 1rem;
  width: 34rem;
}
.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border: none;
  border-radius: 1.5rem;
  margin-right: 1rem;
  width: 15rem;
  background-color: #262835;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.button:hover {
  animation: colorChange 3s infinite;
}

.button:hover {
  background-color: #3f3f3f; // 배경색 변경
}
.button:active {
  transform: scale(0.95);
}
.content_input_box:focus {
  color: rgb(45, 45, 255); // 글자 색 변경
}
.content_input_box.typing {
  background-color: #e8ebff;
  border: black;
}
