@keyframes falling {
  0% {
    transform: translateY(0vh);
    opacity: 0.8;
  }
  75% {
    transform: translateY(90vh);
    opacity: 0.5;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0.3;
    transform: scale(1); // 땅에 닿았을 때 비가 퍼지는 효과를 만듭니다.
  }
}

.star {
  position: absolute;
  width: 1.2px;
  height: 10px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );
  animation: falling 0.5s linear infinite;
  animation-duration: 10s;
}

.background {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;

  .container {
    margin-top: 150px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    .contents_box {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 80%;

      .contents {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid var(--greyShades30);
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        &:hover {
          background-color: #db6f39;
          transition: all 0.3s ease-in-out;
          scale: 1.01;
        }
        a {
          font-size: 1rem;
          display: flex;
          width: 80%;
          height: 100%;
          align-items: center;
          justify-content: center;
          p {
            flex: 1;
            text-align: center;
          }
        }
        .content_container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;
          gap: 1rem;

          .content {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
            background-color: blue;
            width: 20%;
          }
        }
      }
    }
  }
}

.makeQuiz {
  color: white;
  position: absolute;
  top: 11%;
  left: 11%;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--white100);
  color: var(--black100);
  font-size: clamp(1rem, 1.5vw, 1rem);
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    background-color: var(--green60);
    transition: all 0.3s ease-in-out;
  }
}
.difficulty {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  div {
    color: white;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--white100);
    color: var(--black100);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    &.selected {
      background-color: var(--green60);
    }
    &:hover {
      background-color: var(--green60);
      transition: all 0.3s ease-in-out;
    }
  }
}
