:root {
  --font-nexonLv1: "nexonLv1";
  --font-pretendard: "pretendard";
}

@font-face {
  font-family: "pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/Pretendard-Medium.woff2") format("woff2"),
    url("../../fonts/Pretendard-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Pretendard-Regular.woff2") format("woff2"),
    url("../../fonts/Pretendard-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Pretendard-SemiBold.woff2") format("woff2"),
    url("../../fonts/Pretendard-SemiBold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "nexonLv1";
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/nexonLv1-Light.woff2") format("woff2"),
    url("../../fonts/nexonLv1-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "nexonLv1";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/nexonLv1-Regular.woff2") format("woff2"),
    url("../../fonts/nexonLv1-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "nexonLv1";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/nexonLv1-Bold.woff2") format("woff2"),
    url("../../fonts/nexonLv1-Bold.woff") format("woff");
  font-display: swap;
}
