@keyframes falling {
  0% {
    transform: translateY(0vh);
    opacity: 0.8;
  }
  75% {
    transform: translateY(90vh);
    opacity: 0.5;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0.3;
    transform: scale(1); // 땅에 닿았을 때 비가 퍼지는 효과를 만듭니다.
  }
}

.star {
  position: absolute;
  width: 1.2px;
  height: 10px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );
  animation: falling 0.5s linear infinite;
  animation-duration: 10s;
}

.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  color: white;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    .contents_box {
      width: 80%;
      height: 80%;

      .contents {
        width: 100%;
        height: 33.3%;
        margin-bottom: 2rem;

        .content_container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;
          gap: 1rem;

          .content {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
            background-color: blue;
            width: 20%;
          }
        }
      }
    }
  }
}
.title {
  display: flex;
  align-items: center;
  font-size: 3rem;
  height: 4rem;
  font-weight: medium;
  &:hover {
    cursor: pointer;
    color: #db6f39;
    transition: all 0.3s ease-in-out;
  }
}
.contents_box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #db6f39 1px solid;
  a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
